---
import '/public/styles/experience.css';
import '/public/styles/inicio.css';
import 'bootstrap/dist/css/bootstrap.min.css';
import '/public/styles/global.css';
---


<section id="experiencia" class="section bg-experiencia py-5 text-white">
  <div class="container">
    <h2 class="text-center mb-5 retro-text">Experiencia Laboral</h2>
    <div class="row justify-content-center align-items-center">
      <!-- Bloque con la información de la experiencia laboral -->
      <div class="col-md-10">
        <div class="d-flex flex-column flex-md-row align-items-md-center experience-layout">
          <!-- Icono o elemento decorativo a la izquierda -->
          <div class="icon-container text-center mb-4 mb-md-0 col-md-2">
            <i class="fas fa-briefcase fa-4x text-light"></i>
          </div>
          <!-- Texto de la experiencia laboral -->
          <div class="col-md-10">
            <ul class="list-unstyled text-left experience-details">
              <li class="mb-4">
                <h4 class="retro-text">Profesor de Universidad en Ciencias de la Gastronomía</h4>
                <p class="mb-0 fs-5">ISIMA, México</p>
                <p class="fs-6">Enseñé fundamentos de gastronomía y técnicas culinarias, con un enfoque en la investigación y la innovación culinaria.</p>
              </li>
              <li class="mb-4">
                  <h4 class="retro-text">Propietario de GastroBar</h4>
                  <p class="mb-0 fs-5">GastroBar, Localización</p>
                  <p class="fs-6">Fundé y gestioné un restaurante con un enfoque en la gastronomía de autor, desde la conceptualización del menú hasta la gestión de personal y operaciones.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
