---
import '/public/styles/standars.css';
---
<section class="container my-5 py-4">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="section-header mb-4">
        <h3 class="section-title text-center">
          Estándares de Interoperabilidad en Sector Sanitario
        </h3>
      </div>
      <div class="d-flex flex-wrap justify-content-center align-items-stretch">
        <div class="tech-card m-2">
          <img src="./img/openehr-logo1.png" alt="OpenEHR" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">OpenEHR - Estándar abierto para modelos clínicos y almacenamiento estructurado de historias médicas
            </span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/OIP.jpeg" alt="HL7" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">HL7 FHIR - Estándar para la interoperabilidad de datos de salud basado en recursos estructurados y APIs RESTful</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/MirthConnect.png" alt="Mirth Connect" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">OMOP CDM - Modelo de datos para análisis secundarios de información clínica</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="section-header mb-4">
        <h3 class="section-title text-center">
          Herramientas de Integración en Entornos Sanitarios
        </h3>
      </div>
      <div class="d-flex flex-wrap justify-content-center align-items-stretch">
        <div class="tech-card m-2">
          <img src="./img/openehr-logo1.png" alt="OpenEHR" class="tech-logo">
          <div class="tech-overlay">
        <span class="tech-description">Better Care - Sandbox para construir arquetipos ADL y consultas AQL</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/OIP.jpeg" alt="HL7" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">HAPI FHIR - Librería para el intercambio de recursos FHIR</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/MirthConnect.png" alt="Mirth Connect" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">Mirth Connect - Motor de integración para transformar y filtrar mensajes</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección inferior ocupando todo el ancho -->
    <div class="col-12 mt-4">
      <div class="section-header mb-4">
        <h3 class="section-title text-center">
          Tecnologías Web
        </h3>
      </div>
      <div class="d-flex flex-wrap justify-content-center align-items-stretch">
        <div class="tech-card m-2">
          <img src="./img/laravel.svg" alt="Laravel" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">Laravel - Framework PHP para desarrollo web</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/springboot.svg" alt="SpringBoot" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">Spring Boot - Framework Java para aplicaciones empresariales</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/git.svg" alt="Git" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">Git - Sistema de control de versiones distribuido</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/github.svg" alt="GitHub" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">GitHub - Plataforma de desarrollo colaborativo</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/javascript.svg" alt="JavaScript" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">JavaScript - Lenguaje para desarrollo web interactivo</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/mysql(1).svg" alt="MySQL" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">MySQL - Sistema de gestión de bases de datos relacional</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/postgresql(1).svg" alt="PostgreSQL" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">PostgreSQL - Base de datos avanzada de código abierto</span>
          </div>
        </div>
        <div class="tech-card m-2">
          <img src="./img/vuedotjs.svg" alt="Vue" class="tech-logo">
          <div class="tech-overlay">
            <span class="tech-description">Vue.js - Framework progresivo para interfaces de usuario</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>