
.section .container > .row > div {
    padding: 15px 20px; /* Ajusta el espaciado interno */
}

/* Perfil */
.profile-container {
    margin-bottom: 20px; /* Reduce el espacio entre la imagen y el texto */
}

/* Botones */
.btn-retro {
    margin-bottom: 10px; /* Reduce los espacios entre botones */
}

/* Espaciado menor entre secciones */
.separator {
    height: 50px; /* Espaciador mínimo */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
}
