  /* Fondo único para la sección de experiencia laboral */
.bg-experiencia {
  background-color: #2e3b46; /* Gris oscuro con un toque más elegante */
  background-image: 
    radial-gradient(circle at 30% 60%, rgba(60, 90, 150, 0.8), transparent 60%), 
    radial-gradient(circle at 70% 80%, rgba(80, 130, 190, 0.6), transparent 70%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Estilo para el layout de la experiencia laboral */
.experience-layout {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.experience-layout:hover {
  transform: scale(1.03);
  box-shadow: 0 0 30px rgba();
}
