---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} - Transmisión desde Nostromo</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="bg-dark text-light p-4">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="terminal">NOSTROMO SYS: // [Juan Fajardo Reyes]</h1>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-center">
            <nav class="nav justify-content-center">
              <a class="nav-link text-light" href="#proyectos">Proyectos</a>
              <a class="nav-link text-light" href="/assets/cv.pdf" download="CV_[TuNombre].pdf">Descargar CV</a>
              <a class="nav-link text-light" href="https://github.com/JFR35/JRF35" target="_blank">GitHub</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main class="container my-5">
      <slot />
    </main>
    <footer class="bg-dark text-light text-center p-3">
      <p class="terminal">Transmisión finalizada - Weyland-Yutani Corp © 2025</p>
    </footer>
  </body>
</html>