---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} - Transmisión desde Nostromo</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <h1 class="terminal">NOSTROMO SYS://[Tu Nombre]</h1>
      <nav>
        <a href="#proyectos">Proyectos</a>
        <a href="/assets/cv.pdf" download="CV_[TuNombre].pdf">Descargar CV</a>
        <a href="https://github.com/JFR35/JRF35" target="_blank">GitHub</a>
      </nav>
    </header>
    <slot />
    <footer>
      <p class="terminal">Transmisión finalizada - Weyland-Yutani Corp © 2025</p>
    </footer>
  </body>
</html>